<section class="s-block super-slider" dir="rtl">

{% set banners = section.settings.bannersitem.value ?? [] %}

{% if banners|length %}
  {% for item in banners %}

    {% set img = item['bannersitem.banner-img-big'].url ?? '' %}
    {% set img_mobile = item['bannersitem.banner-small'].url ?? img %}

    <div class="swiper-slide">

      {% if img %}
      <picture>
        <source media="(max-width:768px)" srcset="{{ img_mobile }}">
        <img src="{{ img }}" alt="banner">
      </picture>
      {% endif %}

      <div>

        {% if item['bannersitem.banner-main'] %}
          <h2>{{ item['bannersitem.banner-main'] }}</h2>
        {% endif %}

        {% if item['bannersitem.banner-des'] %}
          <p>{{ item['bannersitem.banner-des'] }}</p>
        {% endif %}

      </div>

    </div>

  {% endfor %}
{% else %}
  <p>لا يييييييي بنرات</p>
{% endif %}

</section>